.main-title {
    text-align: center;
}

main {
    display: flex;
}

from {
    padding: 12px;
    background-color: rgb(125, 125, 29);
}

aside {
    padding: 48px;
}

.button {
    height: 32px;
    border: 1px solid;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-burlywood {
    background-color: burlywood;
}

.bg-reset {
    background-color: red;
    color: white;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

footer {
    text-align: center;
}