.main-title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
}

main {
    display: flex;
}

form {
    padding: 12px;
    background-color: rgb(208, 219, 221);
}

aside {
    padding: 20px;
}

.button {
    height: 32px;
    border: 1px solid;
    border-radius: 4px;
}

.form-btn-container {
    margin-top: 24px;
    margin-bottom: 16px;
}

.bg-hitung {
    background-color: rgb(217, 215, 244);
}

.bg-reset {
    background-color: rgb(240, 234, 234);
    color: black;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
}

h3 {
    margin-bottom: 3px;
}

p {
    text-align: justify;
    font-family: math;
}

.dss-cnslt {
    background-color: rgb(208, 219, 221);
    padding: 10px;
}

.bttn {
    height: 20px;
    border: 1px solid;
    border-radius: 3px;
}

footer {
    text-align: center;
}